body {
    font-size: 80%;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 0.15em;
    background-color: #efefef;}
.main{
    border: 10px groove ;
text-align: center;
padding-top: 100px;
background-color: aquamarine;
padding: 200px;
}

.box{
    border-top-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 2px;
    border-color: black;
    border-style: solid;
}

ul > li{
    display: inline-block;
    width: 100px;
}

.nav:hover{
    color: red;
}

#cap{
font-size: 50px;
}